# Vivado / xsim outputs
*.jou
*.log
*.str
*.pb
*.wcfg
*.wdb
*.xpr
*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.sim/
xsim.dir/
*.dmp
*.tmp
*.data
*.ini

# OS cruft
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Optional: if you keep the project as source-only
*.xsa
*.xsa.zip
